
Data/NCBI/Blast Searches/FASTa reference Search Strageties/20170318_Search Stragety_O furnacalis DAP nt vs O nubilalis TSA RESULT vs nr:nt
Data/NCBI/Blast Searches/FASTa reference Search Strageties/20170318_Search Stragety_O furnacalis sequence vs O nubilalis TSA RESULTS vs nr:nt
Data/NCBI/Blast Searches/FASTa reference Search Strageties/20170318_Search Stragety_O furnacalis SP nt vs O nubilalis TSA RESULTS vs nr:nt
Data/NCBI/Blast Searches/FASTa reference Search Strageties/20170318_Search Stragety_P interpunctella PPO nt vs O nubilalis TSA RESULTS vs nr:nt
Data/NCBI/Blast Searches/FASTa reference Search Strageties/20170318_Search Stragety_S litura SP nt vs O nubilalis TSA RESULTS vs nr:nt
